body {
  font-size: 12px;
}

.link, .link:hover, .link:visited {
  color: #F05F40;
}

.top-border {
  border-top: solid 1px #ededed;
  padding-top: 4px;
}

.bottom-border {
  border-bottom: solid 1px #ededed;
}

#nav {
  border-bottom: solid 1px #ededed;
  padding: 4px 4px 4px 4px;
  background: #ffffff;
}

nav .cat-icon {
  font-size: 14px;
  color: #F05F40;
  padding-left: 15px;
  padding-top: 9px;
  padding-right: 0px;
}

#center {
  padding-top: 45px;
  padding-bottom: 45px;
  margin-left: -5px;
}

.indent30 {
  padding-left: 30px;
}

.headimg {
  border-radius: 32px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  float: left;
}

.icon32 {
  width: 32px;
  height: 32px;
}

.cart {
  width: 160px;
}

.product {
  /*margin: 4px 2px;*/
  margin: 2px -15px 2px -10px;
}

.product-img {
  float: left;
}

.product-icon {
  width: 48px;
}

.product-info {
  padding-left: 60px;
}

.product-info .name {
  height: 40px;
  overflow-y: hidden;
}
.product-info .price {
  color: #F05F40;
}

.plus {
  color: #F05F40;
  font-size: 20px;
  position: absolute;
  width: 25px;
  bottom: 3px;
  right: 1px;
  border: solid 1px #ededed;
  border-radius: 4px;
  margin: -1px;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.05);
  cursor: pointer;
}

.panel-default {
  padding: 4px 4px;
  border-color: #ededed;
  margin-botton: 10px;
}

.fly {
  display: none;
  position: absolute;
  z-index: 9999;
  opacity: 0.7;
  /*font-family: 'Microsoft Yahei', 微软雅黑;*/
  font-size: 18px;
  font-weight: bold;
  color: #F05F40;
}

.cart-list {
  /*display: none;*/
  position: absolute;
  z-index: 9999;
  top: -200px;
  left: 150px;
  width: 200px;
}

.cart-list ul {

}

.ship-tip {
  color: #afafaf;
}

.sum {
  font-size: 18px;
  color: #F05F40;
  text-align: right;
  padding: 5px 5px;
}

.badge {
  background-color: #F05F40;
}

#order-center {
  margin-top: 40px;
}

.rt-header {
  background-color: white;
  border-bottom: 1px solid #cdcdcd;
  text-align: center;
}

.rt-op {
  float: right;
}

#order-center .undealt {
  background-color: #F05F40;
}

#order-center .confirmed {
  background-color: #949440;
}

#order-center .sendout {
  background-color: #286090;
}

#order-center .closed {
  background-color: #08CE08;
}

#order-center .cancled {
  background-color: #A0A0A0;
}

#cart-modal .prod-op {
  float: right;
  color: #F05F40;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 1px 7px;
}

#cart-modal .prod-remove {
  float: right;
  color: #F05F40;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding-top: 1px;
  padding-left: 15px;
}

.narrow {
  padding-left: 5px;
  padding-right: 5px;
}

#user-tip {
  /*display: none;*/
  position: absolute;
  z-index: 9999;
  opacity: 0.85;
  padding: 20px 30px;
  text-align: center;
  top: -86px;
}

#user-tip p {
  font-size: 16px;
  color: #F05F40;
}
