<div class="text-center top-border">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 indent30">
        <div class="headimg"><img class="icon32" ng-src="{{headimgurl}}"></div>
        <!--
        <div>{{nickname}}</div>
      -->
      </div>
      <div class="col-xs-6">
        <a type=button class="btn btn-primary cart" ng-click="toggleCart()" data-toggle="modal" data-target="#cart-modal">
          <i class="fa fa-shopping-cart"></i>
          购物车 <span class="badge">{{cart.total.amount | currency: '￥'}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="cart-modal" class="modal fade" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">您的外送单</h4>
      </div>
      <div class="modal-body">
        <div ng-show="isEmpty()">您的购物车空空如也~~</div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="(id, prod) in cart.products">
            <a ng-click="remove(id)"><i class="fa fa-close prod-remove"></i></a>
            <a ng-click="increase(id)"><i class="fa fa-plus-circle prod-op"></i></a>
            <span class="badge">{{prod.num}}</span>
            <a ng-click="decrease(id)"><i class="fa fa-minus-circle prod-op"></i></a>
            {{prod.name}}({{prod.price | currency: '￥'}})
          </li>
        </ul>
        <div class="ship-tip">注：30元起送，加收5元配送费，满58元免配送费。</div>
        <div class="sum">合计：{{cart.total.amount | currency: '￥'}}</div>
        <div>
          <div class="input-group">
            <span class="input-group-addon">配送时间：</span>
            <select id="schedule" type="text" class="form-control" ng-model="schedule">
              <option ng-repeat="t in timeSlots" value="{{t}}">{{t}}</option>
            </select>
          </div>
          <div class="input-group">
            <span class="input-group-addon">联系电话：</span>
            <input id="mobile" type="text" class="form-control" placeholder="请填写移动电话" ng-model="mobile">
            <a class="input-group-addon" ng-click="clearMobile()"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
          <div class="input-group">
            <span class="input-group-addon">外送地址：</span>
            <input id="address" type="text" class="form-control" placeholder="请填写具体地址" ng-model="address">
            <a class="input-group-addon" ng-click="clearAddress()"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
          <div class="input-group">
            <span class="input-group-addon">订单备注：</span>
            <textarea id="comment" class="form-control" maxlength="30" placeholder="备注" ng-model="comment"></textarea>
            <a class="input-group-addon" ng-click="clearComment()"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div id="tips" aria-hidden="true"></div>
        <button type="button" class="btn btn-cancel" ng-click="emptyCart()">清空</button>
        <button type="button" class="btn btn-primary" ng-disabled="submitted" ng-click="submitCart()">下单</button>
      </div>
    </div>
  </div>
</div>
<div id="user-tip" class="panel panel-primary">
  <p>本店配送范围2公里，1小时内送达。若有特殊配送要求，请在订单备注中留言。</p>
</div>
