<div id="nav" class="btn-group btn-group-justified navbar-fixed-top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle link" data-toggle="dropdown">
        <i class="fa fa-bars"></i> 品类 - <span>{{category}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="i in categories">
            <a ng-click="changeCategory(i.id)">{{i.label}}</a>
        </li>
    </ul>
  </div>
  <div class="btn-group">
    <div class="input-group input-group-sm">
      <span class="input-group-addon"><a><i class="fa fa-search"></i></a></span>
      <input type="text" class="form-control" placeholder="筛选商品..." ng-model="filter" ng-change="filterProducts()">
      <a class="input-group-addon" ng-click="clearFilter()"><i class="glyphicon glyphicon-remove-circle"></i></a>
    </div>
  </div>
  <!--
  <div class="btn-group">
    <button type="button" class="btn btn-default">
        <a class="page-scroll" href="#cart"><i class="fa fa-shopping-cart"></i>购物车</a>
    </button>
  </div>
-->
</div>
