<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>-->
  <div class="row">
    <div class="col-md-1 col-xs-1 narrow">
      <p class="nav-text"><i class="fa fa-bars cat-icon"></i></p>
    </div>
    <div class="col-md-1 col-xs-2 narrow dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span>{{category.label}}</span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li ng-repeat="i in categories">
              <a ng-click="changeCategory(i.code)">{{i.label}}</a>
          </li>
      </ul>
    </div>
    <div class="col-md-1 col-xs-4 narrow dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          | <span>{{subcat.label}}</span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li ng-repeat="i in category.subcat">
              <a ng-click="changeCategory(i.code)">{{i.label}}</a>
          </li>
      </ul>
    </div>
    <div class="col-md-2 col-xs-5 narrow btn-group">
      <div class="input-group input-group-sm">
        <span class="input-group-addon"><a><i class="fa fa-search"></i></a></span>
        <input type="text" class="form-control" placeholder="筛选商品..." ng-model="filter" ng-change="filterProducts()">
        <a class="input-group-addon" ng-click="clearFilter()"><i class="glyphicon glyphicon-remove-circle"></i></a>
      </div>
    </div>
  </div>
</div>
